body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.contentHolder {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-color:black;
    display: flex;
    flex-wrap: wrap;
}

.afterContent {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}